<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %>

<script src="js/onClick.js"></script>

</head>

<body>
<% include partials/page/header.ejs %>

  <h1><%= pagetitle %> -- <%= title %></h1>
  <p><%= search %></p>
  
  
  <!-- working on form action -->
<form action="js/onClick.js" method="get">
  <input id="food" name="food" placeholder="Please enter food name" type="text">
  <input onclick="Submitted()" type="button" value="Search">
</form>


  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>