<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %>
</head>

<body>
<% include partials/page/header.ejs %>

  <h1><%= pagetitle %> -- <b><%= title %></b></h1>  
  <p><a href="/calculator/add">Add ingredient to list</a></p>
  
  <p>
    <select multiple size="20" style="width: 400px;">
      <% for(var i = 0; i < cart.length; i++) { %>
        <option value="test"><%= cart[i] %></option>
      <% } %>
    </select>
    Calculate the calories in your cart
    <button type="submit" value="calcbutton">Calculate</button>
  </p>
  
  


  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>