<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body class="<%= classname %>" >
<% include partials/page/header.ejs %>

<div class="container">
  <h1><%= pagetitle %>--<%= title %></h1>
  
  <form name="login">
            Username<input type="text" name="userid"/>
            Password<input type="password" name="pswrd"/>
            <input type="button" onclick="check(this.form)" value="Login"/>
            <input type="reset" value="Cancel"/>
        </form>
        <script language="javascript">
            function check(form) {                              /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                
                if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
                //replace with if(form.userid.value == form.pswrd.value)
                    window.open('target.html')                    /*opens the target page while Id & password matches*/
                }
                else {
                    alert("Error Password or Username")             /*displays error message*/
                }
            }
        </script>

</div><!-- container -->

  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>