<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body>
  <% include partials/page/header.ejs %>
  <% include partials/page/nav.ejs %>
  <% include partials/page/jsdefaults.ejs %>
  
<div class="container">
 <!-- <h1><%= pagetitle %> -- <%= title %></h1>-->
  
  <% if (!user) { %>
	    <p><h4>Welcome to our App!</h4>
         Please <a href="/login">log in</a>.</p>
  <% } else { %>
    	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
      
  <% } %>
  
</div><!-- container -->

  <% include partials/page/footer.ejs %>
</body>
</html>