<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<table border="1" width="100%"> 
<tr>
<th>Number</th> 
<th>Shrt_Desc</th> 
<th>Water_(g)</th> 
<th>Engery_Kcal</th> 
</tr>
@foreach(var row in db.Query(query))
{
<tr> 
<td>@row.Id</td> 
<td>@row.Shrt_Desc</td> 
<td>@row.Engergy_kcal</td> 
<td style="text-align:right">@row.Price</td> 
</tr> 
}
</table>
@{
if (IsPost)
{ 
string Shrt_desc = Request["Shrt_Desc"]; 

<p>You entered: <br> 
Nutrition Name: @Nutrition <br> 
 </p> 
}
else
{
<form method="post" action="database/nutrition.db">
Nutrition:<br> 
<input type="text" name="Nutrtion Name" value=""><br>

<input type="submit" value="Submit" class="submit">
</form> 
}
} 

</body>
</html>