<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../public/js/onClick.js"></script>
<script src="../app.js"></script>
<script src="../routes/api.js"></script>
<script src="../routes/index.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nutrition Database</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.ejs">Home</a></li>
        <li><a href="../../calc.ejs">Calc</a></li>   
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login <span class="glyphicon glyphicon-log-in"></span></a>
          <div class="dropdown-menu">
            <form id="formLogin" class="form container-fluid">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <button type="button" id="btnLogin" class="btn btn-block">Login</button>
            </form>
            <div class="container-fluid">
              <br>
              <a class="small" href="#">Forgot password?</a>
            </div> 	
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="col-lg-7">
    <h1>Nutrition Database</h1> 
    <table border="1" width="100%"> 
      <tr>
        <th width="25%">Number</th> 
        <th width="25%">Shrt_Desc</th> 
        <th width="25%">GmWt_Desc1</th> 
        <th width="25%">GmWt_Desc2</th> 
      </tr>
      <% rows.forEach(function(item){ %>
      <tr>
        <td><%= item.NDB_No %></td> 
        <td><%= item.Shrt_Desc %></td> 
        <td><%= item.GmWt_Desc1 %></td> 
        <td><%= item.GmWt_Desc2 %></td> 
      </tr>
      <% }); %>
    </table>
  </div>
      <a href="/api/list?page=">Prev</p>
      <a href="/api/list?page=">Next</p>  
  </div>
  <div
</body>
</html>